:root {
  --load-bubble-anim-length: 800ms;
}

.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 2px solid var(--color-medium);
  opacity: 0.5;
  z-index: 15;
}

@keyframes ripple-effect {
  to {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes button-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--color-dark) 0.8;
  }

  50% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10px transparent;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
  }
}

#load-bubble {
  position: absolute;
  z-index: 8999;
  width: 0px;
  height: 0px;
  transition: var(--load-bubble-anim-length);
  background-color: var(--color-dark);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.load-bubble-expanded {
  width: 150vh !important;
  height: 150vh !important;
}

@media (orientation:landscape) {
  .load-bubble-expanded {
    width: 150vw !important;
    height: 150vw !important;
  }
}

.slow-pulse {
  box-shadow: var(--color-dark);
  transform: scale(1);
  animation: slow-pulse 2s infinite;
  border-radius: 50%;
}

@keyframes slow-pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--color-dark);
    background-color: var(--color-dark);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    background-color: transparent;
  }

  100% {
    transform: scale(0.90);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
  }
}