@import 'animations.css';
@import 'colors.css';
@import 'controls.css';
@import 'layout.css';
@import 'list.css';
@import 'text.css';

html {
  overflow-x: hidden;
}

body {
  background-color: var(--colorBright) !important;
  height: 100vh;
}