:root {
  --color-bright: #ffe1e1;
  --color-medium: #ffbebe;
  --color-dark: #d87093;
  --pink-bright: #ffe1e1;
  --pink-medium: #ffbebe;
  --pink-dark: #d87093;
  --blue-bright: #e1f6ff;
  --blue-medium: #bed5ff;
  --blue-dark: #70a6d8;
  --green-bright: #ecffe1;
  --green-medium: #a2eb85;
  --green-dark: #60bb4e;
  --yellow-bright: #f8fabf;
  --yellow-medium: #fae174;
  --yellow-dark: #e2bd57;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-bright);
}

.dark p {
  color: var(--color-bright);
}

.dark-inverse {
  border-color: var(--color-dark);
  background-color: transparent;
  color: var(--color-dark);
}