.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
}

.content-header svg {
  margin-right: 1rem;
  color: var(--color-dark);
}

.content-header h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.separator {
  width: 100%;
  max-width: 75%;
  height: 7px;
  border-radius: 3.5px;
  background-color: var(--color-dark);
  margin: 0.5rem auto 1rem auto;
}

.separator-hidden {
  background-color: transparent;
}

.content-element {
  display: flex;
  width: 100%;
  max-width: 340px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0.5rem auto;
}

.content-element a {
  font-size: medium !important;
}

.content-element a svg {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}