@font-face {
  font-family: Magelove;
  src: url('/assets/fonts/Magelove.otf');
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-dark);
  --default-font-size: 1.4rem;
  --notification-font-size: 1.2rem;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.6rem !important;
}

h4, label, p, a, input {
  font-size: var(--default-font-size) !important;
  color: var(--color-dark);
}

h1, h2 {
  font-family: 'MageLove', sans-serif !important;
}

a {
  color: var(--color-dark) !important;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-dark);
}

svg {
  color: var(--color-dark);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header * {
  margin-bottom: 0px;
}

.header svg {
  margin-right: 0.5rem;
}