<form class='list-input-footer' {{on 'submit' this.createListEntry}}>
  {{! template-lint-disable require-input-label }}
  <Input
    id='list-new-entry-input'
    @type='text'
    @value={{this.value}}
    maxlength={{255}}
    autocomplete='off'
  />
  <button type='submit'>
    <FaIcon @icon='plus' @size='3x' @prefix='fas' />
  </button>
</form>