<div class="uncharted-form-control">
  <div class="uncharted-token-container">
    {{#each this.tokens as |token index|}}
    {{!-- {{component tokenComponent
    token=token
    index=index
    existingTokens=tokens
    allowDuplicates=allowDuplicates
    selectedTokenIndex=selectedTokenIndex
    createToken=(action 'createToken')
    removeToken=(action 'removeToken' token)
    mouseDown=(action 'selectToken' token index)
    doubleClick=(action 'editToken' token)}} --}}
    {{/each}}
    {{!-- template-lint-disable require-input-label --}}
    <Input class='uncharted-token-input' @value={{this.value}} disabled={{@disabled}} placeholder={{@placeholder}} />
  </div>
</div>