<div
  class='token-select button-large dark-inverse'
  aria-haspopup='true'
  aria-expanded='false'
>
  <div class='token-select-inner'>
    <div class='token-container'>
      {{#each this.members as |user|}}
        <button type='button' class='token dark'>{{user.displayName}}
          <FaIcon @icon='times' class='token-x' />
        </button>
      {{/each}}
    </div>
    <button
      type='button'
      class='button-small dark-inverse'
      {{on 'click' this.toggleExpanded}}
    >
      <FaIcon @icon='chevron-down' />
    </button>
  </div>
  <div
    class='token-select-content
      {{if this.expanded "token-select-content-expanded"}}'
  >
    <h4>Deine Familie</h4>
    {{#each @family.members as |user|}}
      <button
        type='button'
        class='token-select-option'
      >{{user.displayName}}</button>
    {{/each}}
  </div>
</div>