<div class='flex flex-row justify-between'>
  <div
    class='h-box-item password-sec-level-bar {{this.secBarOneHighlighted}}'
  ></div>
  <div
    class='h-box-item password-sec-level-bar {{this.secBarTwoHighlighted}}'
  ></div>
  <div
    class='h-box-item password-sec-level-bar {{this.secBarThreeHighlighted}}'
  ></div>
  <div
    class='h-box-item password-sec-level-bar {{this.secBarFourHighlighted}}'
  ></div>
</div>