<div class='header'>
  <FaIcon @icon='info-circle' @size='2x' />
  <h3>Über die App</h3>
</div>

<Common::Separator />

<div class='changelog'>
  <div class='header'>
    <FaIcon @icon='star' @prefix='far' />
    <h4>2.3.1</h4>
  </div>
  <ul>
    <li>Fix: Läuft nach zwei Wochen die Sitzung ab, sollte die Anwendung nun
      korrekt auf die Login-Seite umleiten.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star-half-stroke' @prefix='far' />
    <h4>2.3.0</h4>
  </div>
  <ul>
    <li>Feature: Die Anwendung verschickt nun in Fehlerfällen Telemetriedaten an
      den Server, die mir dabei helfen, Fehler zu beheben. Falls Du Das nicht
      möchtest, kannst Du diese Funktion in den Benutzereinstellungen abstellen.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star' @prefix='far' />
    <h4>2.2.1</h4>
  </div>
  <ul>
    <li>Fix: Die App merkt sich nun korrekt, welche Version Du bereits verwendet
      hast.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star-half-stroke' @prefix='far' />
    <h4>2.2.0</h4>
  </div>
  <ul>
    <li>Feature: Du wirst nun über Updates von Doleo benachrichtigt und erhältst
      nach einem Update die Möglichkeit, die Änderungen einzusehen und Deinen
      Cache zu leeren.</li>
    <li>Feature: Du kannst nun nachträglich Listeneinträge bearbeiten.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star-half-stroke' @prefix='far' />
    <h4>2.1.0</h4>
  </div>
  <ul>
    <li>Feature: Du kannst nun bereits die Menge eines Eintrags beim Erstellen
      eingeben, sofern Mengen für die Liste aktiviert sind.</li>
    <li>Fix: Du wirst nun zur Login-Seite umgeleitet, falls das Laden der
      Session scheitert.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star' @prefix='far' />
    <h4>2.0.1</h4>
  </div>
  <ul>
    <li>Fix: Listenelemente werden in der Listenansicht nun in alphabetischer
      Reihenfolge und nach Markierungsstatus sortiert angezeigt.</li>
    <li>Fix: Listen werden in der Sidebar nun in alphabetischer Reihenfolge
      angezeigt.</li>
    <li>Fix: Die Login-Route leitet Dich nun zur Startseite weiter, wenn Du
      bereits eingeloggt bist.</li>
  </ul>

  <div class='header'>
    <FaIcon @icon='star' />
    <h3>2.0.0</h3>
  </div>
  <ul>
    <li>'Anstupsen': Zeige einem lieben Menschen, dass Du an ihn denkst!</li>
    <li>Push Notifications: Erhalte Push-Nachrichten bei Listeneinladungen und
      anderen Ereignissen</li>
    <li>Offline Support: Bestimmte Aktionen (z.B. Listen) funktionieren auch
      dann, wenn die Internetverbindung kurzzeitig verloren geht.</li>
    <li>Verbesserte Listen: Listen verfügen nun über eine Reihe weiterer
      Funktionen.</li>
    <li>Verbesserte Benutzerkonten: Benutzerkonten sind nun sicherer und
      anpassbarer.</li>
  </ul>
</div>