{{page-title "Home"}}

<Common::Separator @hidden="true" />
<h1>Hallo, $USER!</h1>

<FaIcon @icon="heart" @prefix="far" @size="4x" />

<Common::ButtonLarge @text="Notification" @onClick={{this.createNotification}} />