{{page-title 'Home'}}

<Common::Separator @hidden='true' />
<h2>Hallo, {{this.account.account.displayName}}!</h2>
<FaIcon @icon='heart' @prefix='far' @size='4x' />
<Common::Separator @hidden='true' />