{{page-title 'Doleo'}}
<div id='branding-bar'></div>

<div id='content'>
  {{outlet}}
</div>

<div
  id='modal'
  class='modal fade'
  tabindex='-1'
  role='dialog'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    {{#if this.activeModalType}}
      {{component
        (concat 'modal/' this.activeModalType)
        options=this.activeModalOptions
      }}
    {{/if}}
  </div>
</div>

<Application::LoadBubble />

<NotificationContainer @position='bottom' @zindex='9999' />