{{page-title "404"}}

<Common::Separator @hidden="true" />
<h3>Huch! </h3>
<Common::Separator @hidden="true" />
<p class="text-center">Wie bist Du denn hier gelandet?<br />
  <a class="text-center" href="/">Hier kommst Du wieder zurück!</a>
</p>