{{page-title 'Passwort zurücksetzen'}}

<Common::Separator @hidden='true' />
<p class='text-center'>
  Wenn Du Dein Passwort zurücksetzt, erhältst Du per Email ein temporäres
  Passwort.<br /><br />
  Du kannst Dich dann mit diesem Passwort 24 Stunden lang anmelden und Dein
  Passwort anschließend ändern.
</p>
<form {{on 'submit' this.submit}}>
  <div class='content-element flex-column'>
    <label title='Email'>Email
      <Input @type='email' @value={{this.email}} />
    </label>
  </div>
  <Common::Separator @hidden='true' />
  <button type='submit' class='button-large dark'>
    <FaIcon @icon='key' @size='2x' />
    <p>Temporäres Passwort anfordern</p>
  </button>
</form>